


<button  class="button2" (click)="openDialog()">Add User</button>




<h2 style="font-family: Yu Gothic UI; font-weight: 500; font-size: 1.75rem; ">List Of Users</h2>
<!--<h4 style="color:orange;font-weight:400;text-align:left;margin-left:1%">Click on the row to modify user details</h4>-->

<br>





<table class="table">
  <thead>
    <tr>
      <!--<th>ImageID</th>-->
      <!--<th>UserID</th>-->
      <th style="font-family: Yu Gothic UI; font-weight: 500; font-size: 1 rem; ">First Name</th>
      <th style="font-family: Yu Gothic UI; font-weight: 500; font-size: 1 rem; ">Last Name</th>
      <th style="font-family: Yu Gothic UI; font-weight: 500; font-size: 1 rem; ">Contact Number</th>
      <th style="font-family: Yu Gothic UI; font-weight: 500; font-size: 1 rem; ">Address</th>
      <th style="font-family: Yu Gothic UI; font-weight: 500; font-size: 1 rem; ">Designation ID</th>
      <th style="font-family: Yu Gothic UI; font-weight: 500; font-size: 1 rem; ">Username</th>


      <!--<th style="font-family: Yu Gothic UI; font-weight: 500; font-size: 1 rem; ">Page Access</th>-->

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data" (click)="openEditDialog(item)">
      <!--<td>{{ item.UserID }}</td>-->
      <td>{{ item.FirstName }}</td>
      <td>{{ item.LastName }}</td>
      <td>{{ item.ContactNumber }}</td>
      <td>{{ item.Address }}</td>
      <td>{{ item.Designation }}</td>
      <td>{{ item.UserName }}</td>
      <!--<td>{{ item.ImageId }}</td>-->

      <!--<td>{{ item.PageAccess }}</td>-->
  
    </tr>
  </tbody>
</table>





