

<div style="background-color: white; border: none ;border-radius:5px;padding:2px;">
  <!--<mat-icon type="button" class="btn-close" aria-label="Close" style="float: right;margin-right:5px;font-size:xx-large" matDialogClose>clear</mat-icon>-->
  <div class="form-inline" style="margin-top:10px">
    <img  src="../../assets/aws-distribution-logo-1.png" height="26" width="40" />
  </div>
  <!--<mat-dialog-content style="height: 100%;border:none;box-shadow:0px;">

    <div style="margin-top:10px;">
      <a  style="text-align: center;font-size:large; font-weight:600;font-family:Calibri;color:black;">{{data.displaydata}}</a> <br />
    </div>
    <mat-dialog-actions style="margin-bottom:.4%;float:right">
      <button mat-raised-button class="save-button pulse-effect hover-effect:hover" mat-dialog-close="true">OK</button>
    </mat-dialog-actions>

  </mat-dialog-content>-->
</div>





