
<div>

  <div>

    <h1 class=" layoutHead":style="font-family: Yu Gothic UI; font-weight: 500; font-size: 1.75rem; ">Edit User</h1>

    <button class="close-button" matDialogClose><mat-icon>close</mat-icon></button>

  </div>



  <div>
   



    <div class=" dataselect">
      <div class="dataSelect">

        <label class="SupplierLabel">First Name </label><br>

        <input type="text" name="FirstName" class="input" [(ngModel)]="FirstName"><br>

      </div>

      <div class="dataSelect">

        <label class="SupplierLabel">Last Name</label><br>

        <input type="text" name="LastName" class="input" [(ngModel)]="LastName">

      </div>




      <div class="dataSelect ">

        <label class="SupplierLabel">Contact Number</label><br>

        <input type="text" class="input" [(ngModel)]="ContactNumber"><br />

      </div>

      <div class="dataSelect ">

        <label class="SupplierLabel">Address</label><br>

        <input type="text" class="input" [(ngModel)]="Address"><br />

      </div>
      <div class="dataSelect ">

        <label class="SupplierLabel">Designation</label><br>

        <input type="text" class="input" [(ngModel)]="Designation"><br />

      </div>


      <div class="dataSelect">

        <label class="SupplierLabel">User Name</label><br>

        <input type="text" name="Password" class="input" [(ngModel)]="username"><br />

      </div>



      <div class="dataSelect">

        <label class="SupplierLabel">Password</label><br>

        <input type="text" name="Password" class="input" [(ngModel)]="Password"><br />

      </div>




      <div class="dataSelect ">

        <label class="SupplierLabel">Role</label><br>

        <select [(ngModel)]="Role">

          <option style="color: grey; font-style: italic" class="input" disabled selected hidden></option>

          <option>Admin</option>

          <option>Super Admin</option>

          <option>Security Admin</option>

          <option>Normal Users</option>



        </select>

      </div>
     



      <div class="createtask">

        <button class="save-button1 hover-effect:hover" (click)="clearFields()">Clear</button>

        <button class="save-button pulse-effect hover-effect:hover" (click)="handleButtonClick()">Modify</button>

      </div>

    </div>

  </div>

</div>
