
<div>

  <div>

    <h1 class=" layoutHead">Add Supplier</h1>

    <button class="close-button" matDialogClose><mat-icon>close</mat-icon></button>

  </div>



  <div>

    <div class="data">

      <label class="label">SupplierCode </label><br>

      <input type="text" name="title" class="input" [(ngModel)]="SupplierCode"><br>

    </div>


    <div class="data">

      <label class="label">Supplier Name</label><br>

      <input type="text" name="title" class="input" [(ngModel)]="SupplierName">

    </div>

    <div class="data">

      <label class="label">Description</label><br>

      <textarea type="text" name="title" rows="5" class="input" [(ngModel)]="description"></textarea>

    </div>

    <div class="data">

      <div class=" dataselect">

        <div class="dataSelect brandSelect">

          <label class="SupplierLabel">Brand ID</label><br>

          <input type="text" class="input" [(ngModel)]="brand_id"><br />

        </div>

        <div class="dataSelect productSelect">

          <label class="SupplierLabel">Product </label><br>

          <select [(ngModel)]="selectedProduct">

            <option style="color: grey; font-style: italic" class="input" disabled selected hidden></option>

            <option>Sweet and sault Savoury</option>

            <option>Fruits and Vegetables, Frozen</option>

            <option>Sauce</option>

            <option>Honey</option>

            <option>Dates</option>

            <option>Pastry</option>

          </select>

        </div>

        <div class="dataSelect categorySelect">

          <label class="SupplierLabel">Product Category ID</label><br>

          <select [(ngModel)]="selectedCategory">

            <option style="color: grey; font-style: italic" disabled selected hidden></option>

            <option>Food Item</option>

            <option>Non Food Item</option>

            <option>Carbonated Water</option>

            <option>Spices</option>

            <option>Processed food</option>

          </select>

        </div>

        <div class="dataSelect">

          <label class="SupplierLabel">product Code</label><br>

          <input type="text" name="Address" class="input" [(ngModel)]="pl"><br />

        </div>



        <div class="dataSelect">

          <label class="SupplierLabel">Address</label><br>

          <input type="text" name="Address" class="input" [(ngModel)]="address"><br />

        </div>

        <div class="dataSelect">

          <label class="SupplierLabel">Status ID</label><br>

          <select [(ngModel)]="selectedStatus">

            <option style="color: grey; font-style: italic" disabled selected hidden></option>

            <option>In-Progress</option>

            <option>Pending for approval</option>

            <option>Not started</option>

          </select>

        </div>

        <div class="dataSelect">

          <label class="SupplierLabel">Location ID</label><br>

          <select [(ngModel)]="selectedLocation">

            <option style="color: grey; font-style: italic" disabled selected hidden></option>

            <option>Dubai</option>

            <option>America</option>

            <option>Canada</option>

            <option>Germany</option>

          </select>

        </div>


        <div class="dataSelect">

          <label class="SupplierLabel">Phone Number : </label><br>

          <input type="tel" name="phoneNumber" class="input" [(ngModel)]="phoneNumber"><br />

        </div>

        <div class="dataSelect">

          <label class="SupplierLabel">Email : </label><br>

          <input type="email" name="email" class="input" [(ngModel)]="email">

        </div>

        <div class="dataSelect">

          <label class="SupplierLabel">Date : </label><br>

          <input type="date" name="title" [(ngModel)]="currentDate" class="input">

        </div>



        <div class="createtask">

          <button class="save-button1 hover-effect:hover" (click)="clearFields()">Clear</button>

          <button class="save-button pulse-effect hover-effect:hover" (click)="insertData()">Create</button>

        </div>

      </div>

    </div>

  </div>

</div>
