#container {
  /*width: 580px;*/
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 11px;
  text-align: center;
  margin: auto;
}

#TktDtl {
  /* width: 390px;*/
  height: 140px;
  border: 1px solid #000;
  margin: auto;
}

#TktDtlMain {
  /*width: 390px;*/
  height: 140px;
  border: 1px solid #000;
  margin: auto;
}


.Workflowtab {
  border: 3px solid #6fd4e8;
  border-radius: 20px;
  background-color: #E3E9F4;
  color: black;
  text-align: center;
  height: fit-content;
  padding: 5px 5px;
  margin-bottom: 0px;
  box-shadow: 0px 0px;
  width: 100%;
  /*  box-shadow: 0px 0px #e3e9f4;*/
  box-shadow: -3px -4px 16px rgb(147 199 200 / 55%);
}
/*  .Workflowtab :hover {
    transition-delay: 100ms;
    padding: 10px;   
  }*/
.headLabel {
  font-weight: 500;
  font-size: large;
  border-radius: 22px;
  border: 1px solid #cbd6d4;
  background-color: #6fd4e8;
  color: white;
  text-align: center;
  height: fit-content;
  padding: 4px 4px;
  margin-bottom: 0px;
  width: 100%
}

.SubInnerLabel {
  font-family: system-ui;
  font-weight: 500;
  color: #4E4F51;
  text-align: left;
  width: 100%;
  padding-left: 5%;
}

.dataclass {
  font-family: system-ui;
  font-weight: 500;
  color: black;
  border: none;
  border-radius: 4px;
  background-color: #E3E9F4;
  padding-left: 5px;
  text-align: center;
}
