<!--<mat-toolbar class="mat-elevation-z5" style=" background-color: #1F528E; height: 6%; color: white ">
  <mat-toolbar-row style="margin-top:20px">-->



    <!--<img [hidden]="textlogo" src="../assets/logoMA.jpg" style="width:12%" />-->
    <!--<img src="../../assets/aws-distribution-logo-1.png" height="45" width="60" style="margin-top:-1%" />
    <label style="color:black;font-size:medium;font-weight:600;margin-left:1%;font-family:Calibri">MIS</label>
    <button mat-button style="color: white; font-size: medium; font-weight: 600; margin-left: 1%; font-family: Calibri" [routerLink]="['Dashboardreport']">Dashboard</button>
    <button mat-button style="color:white;font-size:medium;font-weight:600;margin-left:1%;font-family:Calibri" [routerLink]="['TaskList']">Task List</button>
    <button mat-button style="color:white;font-size:medium;font-weight:600;margin-left:1%;font-family:Calibri" [routerLink]="['marketresearch']">Market Research</button>-->
    <!--<button mat-button style="color:white;font-size:medium;font-weight:600;margin-left:1%;font-family:Calibri" [routerLink]="['TaskList']">Task Page</button>-->

    <!--<button mat-button style="color:white;font-size:medium;font-weight:600;margin-left:1%;font-family:Calibri" [routerLink]="['TaskdetailpageComponent']">Task Detail</button>
    <button mat-button style="color:white;font-size:medium;font-weight:600;margin-left:1%;font-family:Calibri" [routerLink]="['Branding']">Branding</button>
    <button mat-button style="color:white;font-size:medium;font-weight:600;margin-left:1%;font-family:Calibri" [routerLink]="['ordermanagement']">Order Management</button>

    <button mat-button style="color: white; font-size: medium; font-weight: 600; margin-left: 1%; font-family: Calibri" [routerLink]="['Shipment']">Shipment</button>
    <button mat-button style="color:white;font-size:medium;font-weight:600;margin-left:1%;font-family:Calibri" [routerLink]="['Reorder']">Reorder</button>
    <button mat-button style="color: white; font-size: medium; font-weight: 600; margin-left: 1%; font-family: Calibri">Reports</button>
    <span style="flex:auto"></span>

    <div class="icon" style=" float:right;margin-top:-1%">

      <button mat-mini-fab [matMenuTriggerFor]="menu" style="color: white; background-color: lightgrey ">
        <mat-icon style="height:auto;width:auto">perm_identity</mat-icon>
      </button>
      <mat-menu #menu style="background-color:white;color:gray">
        <button mat-menu-item style="background-color:white;color:gray; border:none" [routerLink]="'/login'">
          Logout
        </button>
        <button mat-menu-item style="background-color:white;color:gray; border:none">
          Admin
        </button>
      </mat-menu>
    </div>


  </mat-toolbar-row>


  <mat-toolbar-row>




  </mat-toolbar-row>


</mat-toolbar>
<style>
  .mat-elevation-z5 {
    position: relative;
    z-index: 3;
  }

  .flexExpand {
    justify-self: end;
  }

  .example-form {
    min-width: 250px;
    max-width: 900px;
    width: 100%;
    margin: 3rem 1rem
  }

  .example-full-width {
    width: 100%;
  }

  .my-input {
    border-radius: 5px;
    border: rgb(156, 156, 156);
    background-color: rgb(247, 247, 247);
    min-height: 1.5rem;
  }

  .search-icon {
    position: relative;
    right: 32px;
    top: 8px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: dimgrey;
    cursor: pointer;
  }
</style>
<div style="height:95%;background-color:whitesmoke">

  <router-outlet></router-outlet>

</div>-->
<div [style.height]=" screenHeight">
  <mat-toolbar class="mat-elevation-z5" style=" background-color: #1F528E; height: 6%; color: white; width: 100% ">
    <mat-toolbar-row style="margin-top:5px ;width:100%">

      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm style="float:left">
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        <img src="../../assets/aws-distribution-logo-1.png" height="45" width="60" style="float:left" />
      </span>


      <div fxShow="true" fxHide.lt-md style="width:100%;">
        <button mat-mini-fab [matMenuTriggerFor]="menu" style="color: white; background-color: lightgrey;float:right">
          <mat-icon style="height:auto;width:auto">perm_identity</mat-icon>
        </button>
        <mat-menu #menu style="background-color:white;color:gray">
          <button mat-menu-item style="background-color:white;color:gray; border:none" [routerLink]="'/login'">
            Logout
          </button>
          <button mat-menu-item style="background-color:white;color:gray; border:none" [routerLink]="['admin']">
            Admin
          </button>
        </mat-menu>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <button mat-button style="color: white; font-size: medium; font-weight: 500; float:right;margin-right:1%; font-family:sans-serif">Reports</button>
        <button mat-button style="color: white; font-size: medium; font-weight: 500; float: right; margin-right: 1%; font-family: sans-serif" [routerLink]="['Reorder']">Reorder</button>
        <button mat-button style="color: white; font-size: medium; font-weight: 500; float: right; margin-right: 1%; font-family: sans-serif" [routerLink]="['Shipment']">Shipment</button>
        <button mat-button style="color: white; font-size: medium; font-weight: 500; float: right; margin-right: 1%; font-family: sans-serif" [routerLink]="['ordermanagement']">Order Management</button>
        <button mat-button style="color: white; font-size: medium; font-weight: 500; float: right; margin-right: 1%; font-family: sans-serif" [routerLink]="['Branding']">Branding</button>
        <button mat-button style="color: white; font-size: medium; font-weight: 500; float: right; margin-right: 1%; font-family: sans-serif" [routerLink]="['TaskdetailpageComponent']">Task Detail</button>
        <button mat-button style="color: white; font-size: medium; font-weight: 500; float: right; margin-right: 1%; font-family: sans-serif" [routerLink]="['marketresearch']">Market Research</button>
        <button mat-button style="color: white; font-size: medium; font-weight: 500; float: right; margin-right: 1%; font-family: sans-serif" [routerLink]="['TaskList']">Task List</button>
        <button mat-button style="color: white; font-size: medium; font-weight: 500; float: right; margin-right: 1%; font-family: sans-serif" [routerLink]="['Dashboardreport']">Dashboard</button>









      </div>
  
      <div >

      </div>

    </mat-toolbar-row>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()"  mat-list-item>Close</a>
        <a [routerLink]="['Dashboardreport']" mat-list-item>Dashboard</a>
        <a [routerLink]="['TaskList']" mat-list-item>Task List</a>
        <a [routerLink]="['marketresearch']" mat-list-item>Market Research</a>
        <a [routerLink]="['TaskdetailpageComponent']" mat-list-item>Task Detail</a>
        <a [routerLink]="['Branding']" mat-list-item>Branding</a>
        <a [routerLink]="['ordermanagement']" mat-list-item>Order Management</a>
        <a [routerLink]="['Shipment']" mat-list-item>Shipment</a>
        <a [routerLink]="['Reorder']" mat-list-item>Reorder</a>
        <a  mat-list-item>Reports</a>
        <a [routerLink]="'/login'" mat-list-item style="background-color: #F2D7D5" >Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill><div style=" height:100%;background-color:whitesmoke">

  <router-outlet></router-outlet>

</div></mat-sidenav-content>
  </mat-sidenav-container>
</div>
