/* CSS for screens smaller */
@media (max-width: 500px) {
  input {
    /*border-radius: 10px;*/
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-left: 3px solid #1F528E;
  }

    input:focus {
      border: none;
      box-shadow: 0 1px 8px lightslategrey;
      outline: none;
      border-radius: 5px;
    }

    input[type="date"] {
      border-left: 3px solid #1F528E;
      /*color: darkgray;*/
    }

    input[type="file"] {
      border-left: 3px solid #1F528E;
      /*color: darkgray;*/
    }

  select {
    /*border-radius: 10px;*/
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-left: 3px solid #1F528E;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-left: 3px solid #1F528E;
  }

  button {
    height: 35px;
    margin: 0px 5px 10px;
    background-color: #1F528E;
    border: none;
    cursor: pointer;
    /*border: 0.5px solid lightslategrey; 
    border-radius: 5px;
    box-shadow: 0 1px 15px #1F528E;*/
    font-weight: bold;
    font-size: 11px;
    padding: 5px 5px;
    text-align: center;
  }

  h1 {
    text-align: left;
    color: #1f538e;
    padding: 10px
  }

  label {
    color: gray;
  }

  p {
    color: gray;
  }

  td {
    text-align: right;
  }



  .id {
    width: 15%;
    height: 25px;
  }

  .content {
    background-color: #f3f3f3;
    box-shadow: 0 1px 13px lightgrey;
    border-radius: 5px;
    padding: 15px;
  }

  .data {
    border-radius: 5px;
    padding: 5px 10px;
    width: 90%;
    display: inline-block;
    vertical-align: top;
  }

  .dataSelect {
    border-radius: 5px;
    /*box-shadow: 0 6px 8px #2828284d;*/
    /*  border: 1px solid #ddd;*/
    padding: 5px 10px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    /*  background-color: #f3f3f3;*/
  }
  .dataSelect1 {
    border-radius: 5px;
    /*box-shadow: 0 6px 8px #2828284d;*/
    /*  border: 1px solid #ddd;*/
    padding: 5px 10px;
    width: 10%;
    display: inline-block;
    vertical-align: top;
    /*  background-color: #f3f3f3;*/
  }

  .dataDate {
    border-radius: 5px;
    /*box-shadow: 0 6px 8px #2828284d;*/
    /*  border: 1px solid #ddd;*/
    padding: 5px 10px;
    width: 75%;
    display: inline-block;
    vertical-align: top;
    /*  background-color: #f3f3f3;*/
  }

  .createtask {
    /*width:100%;
  margin-right: 13%;*/
    text-align: center;
    margin-left: 10px;
  }

  .uploadimage {
    padding: 5px 10px;
    /*  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0 6px 8px #2828284d;
  background-color: #f3f3f3;*/
  }

    .uploadimage input {
      height: 50px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 75%;
      min-width: 250px;
      background-color: white;
      cursor: pointer;
      border-left: 3px solid #1F528E;
    }

    .uploadimage button {
      /*position: absolute;*/
      cursor: pointer;
      box-shadow: none;
      background-color: #f3f3f3;
      border: 1px solid lightgray;
    }

  body {
    /*background-color: #f3f3f3;*/
    font-family: Calibri;
  }

  .save-button {
    background-color: #1F528E;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60px;
  }

  .save-button1 {
    background-color: white;
    color: #1F528E;
    border: 1px solid #1f538e;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60px;
  }

  .pulse-effect {
    animation: pulse 1s infinite alternate;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.05);
    }
  }

  .hover-effect:hover {
    background-color: #1F528E; /* Change to your desired color */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
}



@media (min-width: 500px) {

  input {
    /*border-radius: 10px;*/
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-left: 3px solid #1F528E;
  }

    input:focus {
      border: none;
      box-shadow: 0 1px 8px lightslategrey;
      outline: none;
      border-radius: 5px;
    }

    input[type="date"] {
      border-left: 3px solid #1F528E;
      /*color: darkgray;*/
    }

    input[type="file"] {
      border-left: 3px solid #1F528E;
      /*color: darkgray;*/
    }

  select {
    /*border-radius: 10px;*/
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-left: 3px solid #1F528E;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-left: 3px solid #1F528E;
  }

  h1 {
    text-align: left;
    color: #1f538e;
    padding: 10px
  }

  label {
    color: gray;
  }

  p {
    color: gray;
  }

  td {
    text-align: right;
  }

  button {
    height: 35px;
    margin: 10px;
    color: white;
    background-color: #1F528E;
    border: none;
    /*border: 0.5px solid lightslategrey; */
    border-radius: 5px;
    box-shadow: 0 1px 15px #1F528E;
  }

  .id {
    width: 15%;
    height: 25px;
  }

  .content {
    background-color: #f3f3f3;
    box-shadow: 0 1px 13px lightgrey;
    border-radius: 5px;
    padding: 15px;
  }

  .data {
    border-radius: 5px;
    padding: 5px 20px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .dataSelect {
    border-radius: 5px;
    /*box-shadow: 0 6px 8px #2828284d;*/
    /*  border: 1px solid #ddd;*/
    padding: 5px 20px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    /*  background-color: #f3f3f3;*/
  }

  .dataDate {
    border-radius: 5px;
    /*box-shadow: 0 6px 8px #2828284d;*/
    /*  border: 1px solid #ddd;*/
    padding: 5px 20px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    /*  background-color: #f3f3f3;*/
  }

  .createtask {
    /*width:100%;
  margin-right: 13%;*/
    text-align: center;
    margin-left: 10px;
  }

  .uploadimage {
    padding: 10px 20px;
    /*  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0 6px 8px #2828284d;
  background-color: #f3f3f3;*/
  }

    .uploadimage input {
      height: 50px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 75%;
      min-width: 250px;
      background-color: white;
      cursor: pointer;
      border-left: 3px solid #1F528E;
    }

    .uploadimage button {
      /*position: absolute;*/
      cursor: pointer;
      box-shadow: none;
      background-color: #f3f3f3;
      border: 1px solid lightgray;
    }

  body {
    /*background-color: #f3f3f3;*/
    font-family: Calibri;
  }

  .save-button {
    cursor: pointer;
    background-color: #1F528E;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  .save-button1 {
    cursor: pointer;
    background-color: white;
    color: #1F528E;
    border: 1px solid #1f538e;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  .pulse-effect {
    animation: pulse 1s infinite alternate;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.05);
    }
  }

  .hover-effect:hover {
    background-color: #1F528E; /* Change to your desired color */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  .box {
    position: relative;
  }

  .circle_ripple {
    height: 38px;
    width: 38px;
    background: #a13532;
    border-radius: 50%;
    -webkit-animation-name: ripple 2s infinite;
    -webkit-animation: ripple 2s infinite;
    animation: ripple 2s infinite;
    position: relative;
    left: 7px;
    top: 6px;
    z-index: 0;
  }

  .circle_ripple-2 {
    height: 31px;
    width: 42px;
    background: #a13532;
    border-radius: 50%;
    -webkit-animation-name: ripple 2s infinite;
    -webkit-animation: ripple-2 2s infinite;
    animation: ripple-2 2s infinite;
    position: -webkit-sticky;
    position: relative;
    left: 5px;
    top: -27px;
  }

  @keyframes ripple {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(2);
      opacity: 0.3;
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes ripple-2 {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(2.5);
      opacity: 0.3;
    }

    100% {
      transform: scale(1);
    }
  }


  .circle {
    width: 60px;
    height: 58px;
    border-radius: 50%;
    background: #a13532;
    position: relative;
    left: -3px;
    top: -74px;
  }

  .circle-2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    position: relative;
    left: 5px;
    top: 4px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.16);
    z-index: 2;
    cursor: pointer;
  }


  @keyframes loading-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  @keyframes loading-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
    }
  }

  @keyframes loading-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

  @keyframes loading-4 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
    }
  }

  @keyframes loading-5 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
    }
  }

  @media only screen and (max-width: 990px) {
    .progress {
      margin-bottom: 20px;
    }
  }





  .circle1 {
    width: 52px;
    height: 50px;
    border-radius: 50%;
    background: #3273a1;
    left: 0;
  }


  .miccircle {
    width: 48px;
    height: 45px;
    border-radius: 50%;
    background: #ffffff;
    position: relative;
    left: 2px;
    top: 2px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  }

    .miccircle .mat-icon {
      font-size: 20px;
      color: #A7A7A7;
      position: absolute;
      left: 8px;
      top: 8px;
      cursor: pointer;
      height: 43px;
      width: 45px;
    }

  .loader {
    width: 50px;
    margin-left: 2%;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side,#2926266b 90%,#0000);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100% / 3) 100%;
    -webkit-animation: l7 1s infinite linear;
    animation: l7 1s infinite linear;
    vertical-align: inherit;
  }

  @keyframes l7 {
    33% {
      background-size: calc(100%/3) 0%,calc(100%/3) 100%,calc(100%/3) 100%
    }

    50% {
      background-size: calc(100%/3) 100%,calc(100%/3) 0%,calc(100%/3) 100%
    }

    66% {
      background-size: calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%
    }
  }
}
