<mat-toolbar class="mat-elevation-z5" style="background-color:white; height: 7%; color: white ">
  <mat-toolbar-row>



    <img src="../../assets/bestlogo.jpg" />
    <!--<img style="margin-top:10px" src="../../assets/logoMA.jpg" />-->
    <!--<img [hidden]="textlogo" src="../assets/logoMA.jpg" style="width:12%" />
    <img [hidden]="logo" src="../assets/logoMA1.jpg" style="margin-top:-1%" />-->
    <!--<label style="color:black;font-size:large; font-weight:600;margin-left:1%;font-family:Calibri">Ticketing System</label>-->
    <!--<img [hidden]="textlogo" src="../assets/logoMA.jpg" style="width:12%" />
    <img [hidden]="logo" src="../assets/logoMA1.jpg" style="margin-top:-1%" />-->





  </mat-toolbar-row>
  <mat-divider inset vertical style="color:black;height:10px"></mat-divider>

  <mat-toolbar-row>

    <span style="font-family: Playfair Display;font-size: 20px;margin-top:20px; padding-bottom :85px;padding-left:40px;color: #214252"></span>


  </mat-toolbar-row>

</mat-toolbar>
<style>
  .mat-elevation-z5 {
    position: relative;
    z-index: 3;
  }

  .flexExpand {
    justify-self: end;
  }

  .example-form {
    min-width: 250px;
    max-width: 900px;
    width: 100%;
    margin: 3rem 1rem
  }

  .example-full-width {
    width: 100%;
  }

  .my-input {
    border-radius: 5px;
    border: rgb(156, 156, 156);
    background-color: rgb(247, 247, 247);
    min-height: 1.5rem;
  }

  .search-icon {
    position: relative;
    right: 32px;
    top: 8px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: dimgrey;
    cursor: pointer;
  }
</style>


