<div style="background-color: whitesmoke; height: 100%;">
  <h3>Reorder</h3>
  <table class="styled-table" style="margin-left:1%;width:98%;font-family:system-ui;">
    <thead>
      <tr>
        <th style="font-weight:500;border: 2px solid lightgrey;font-size: 14px;">PO No</th>
        <th style="font-weight:500;border: 2px solid lightgrey;font-size: 14px;">Product Name</th>
        <th style="font-weight:500;border: 2px solid lightgrey;font-size: 14px;">Supplier</th>
        <th style="font-weight:500;border: 2px solid lightgrey;font-size: 14px;">Location</th>
        <th style="font-weight:500;border: 2px solid lightgrey;font-size: 14px;">Name</th>
        <th style="font-weight:500;border: 2px solid lightgrey;font-size: 14px;">Current Quantity</th>
        <th style="font-weight:500;border: 2px solid lightgrey;font-size: 14px;">Max Qty Level</th>
        <th style="font-weight:500;border: 2px solid lightgrey;font-size: 14px;">Reorder Qty</th>
        <th style="font-weight:500;border: 2px solid lightgrey;font-size: 14px;">Cost per Item</th>
        <th style="font-weight:500;border: 2px solid lightgrey;font-size: 14px;">Estimated Cost</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of ReOrderManagementListData">

        <td style="font-size:13px;border: 2px solid lightgrey;font-weight:500;">{{a.PurchaseOrderNo}}</td>
        <td style="font-size:13px;border: 2px solid lightgrey;font-weight:500;">{{a.ProductName}}</td>
        <td style="font-size:13px;border: 2px solid lightgrey;font-weight:500;">{{a.Supplier}}</td>
        <td style="font-size:13px;border: 2px solid lightgrey;font-weight:500;">{{a.Location}}</td>
        <td style="font-size:13px;border: 2px solid lightgrey;font-weight:500;">{{a.CustomerName}}</td>
        <td style="font-size:13px;border: 2px solid lightgrey;font-weight:500;">{{a.CurrentQty}}</td>
        <td style="font-size:13px;border: 2px solid lightgrey;font-weight:500;">{{a.OrderLevel}}</td>
        <td style="border: 2px solid lightgrey;">
          <input type="number" name="quantity" placeholder="Enter Quantity" style="width:60%;border:none;margin-right:2px;" [(ngModel)]="Qtyval" required (change)="SetCost($event,a.PurchaseOrderNo)">
          <input type="submit" value="Reorder" class="button" (click)="RedirectToOrderMng(a.CurrentCost,a)">
        </td>

        <td style="font-size: 13px; border: 2px solid lightgrey; font-weight: 500;">{{a.Cost}} $</td>


        <td style="font-size: 13px; border: 2px solid lightgrey; font-weight: 500;">{{a.CurrentCost}} $</td>


      </tr>
    </tbody>
  </table>
</div>

